.navContainer {
    height: 100vh;
    left: 0;
    top: 0;
    padding-top: 20px;
    z-index: 999;
    position: fixed;
    width: 270px;
    overflow: hidden;
    overflow-y: auto;
    background: var(--bg-darkBg);
    color: var(--colorWhite);
    box-shadow: 0 12px 30px rgba(80, 143, 244, .1);
    transition: .3s;
}


.navContainer a {
    color: var(--colorWhite);
    cursor: pointer;
}

.navContainer a:hover {
    color: var(--bs-info);
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 4px;
    padding: 5px;
}